@mixin ony-one($size: 19px, $line-height: 22px, $letter-spacing: 0, $weight: 400) {
  font-family: 'ONY One', sans-serif;
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}


